/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styling */
.nav-link {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f8f9fa;
    text-decoration: underline;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar {
    padding: 15px 30px;
    background-color: black;
}


/* Hero Section */
.hero {
    background-image: url('../images/fitman.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
