body{
    background-color: black;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
}

h1, h2 {
    font-weight: bold;
    color: white;
}

/* Form Section Styles */
fieldset {
    border: 5px solid #FF7B07;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: black;
}

legend {
    font-size: 1.6em;
    font-weight: bold;
    color: #FF7B07;
    text-align: center;
}

.form-label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
}

.form-select, .form-control {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #222;
    background-color: #222;
    color: #fff;

}

.form-control::placeholder{
    color: #666;
}


.form-select:focus, .form-control:focus {
    outline: none;
    background-color: #222;
    color: white;
    border-color: #2980b9;
}

.mb-3 {
    margin-bottom: 20px;
}

input{
    background-color: black;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    background-color: #FF7B07;
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: #3498db;
}

.btn-primary {
    background-color: #27ae60;
}

.btn-primary:hover {
    background-color: #2ecc71;
}

/* Loader Section */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.loader2 {
    width: 40px;
    height: 40px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #FF7B07;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    margin-top: 10px;
    color: #FF7B07;
}

/* Table Styles */
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #333;
    text-align: left;
}

.table th {
    background-color: #FF7B07;
    color: #fff;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Nutrition section */
.nutrition-tips {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    padding: 5px;
    background-color: #FF7B07;
    border-radius: 8px;
    max-width: 900px;
    text-align: center;
}
.nutrition-tips h2{
    font-size: 2.3rem;
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin: 20px 0;
}
.tab-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.tab-btn.active {
    background-color: orange;
    color: black;
}
.content {
    background-color: black;
    font-size: 1.2rem;
    border: 2px white solid;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;
}
.content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .nutrition-tips {
        padding: 5px;
        margin: 0 20px;
    }
    .tab-btn {
        font-size: 14px;
        padding: 8px 12px;
    }
    .content {
        font-size: 1rem;
        padding: 20px;
        border: 1px solid white;
    }
}
@media (max-width: 480px) {
    .tab-btn {
        font-size: 12px;
        padding: 6px 10px;
    }
    .content {
        font-size: 0.9rem;
        margin: 0 20px;
        padding: 20px;
        border: 1px solid white;
    }
}

/* Nutrition and Calories API */
.nutrition-section {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    background-color: black;
    border-radius: 8px;
    max-width: 900px;
    border: 5px solid #FF7B07;
}

.nutrition-section h2 {
    font-size: 2.3rem;
    margin-top: 10px;
    color: white;
}
.nutrition-section input[type="text"] {
    display: block;
    width: 95%; 
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    background-color: #222; 
    border: 2px solid #FF7B07;
    border-radius: 8px;
    margin: 15px auto;
    box-sizing: border-box;
    text-align: center; 
}

.nutrition-section input[type="text"]::placeholder {
    color: white;
    opacity: 0.8;
}

.nutrition-section button {
    background-color: #FF7B07;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.nutrition-section button:hover {
    background-color: #e66900;
}

#nutrition-results {
    margin-top: 20px;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 8px;
    margin: 15px;
}

@media (max-width: 768px) {
    .nutrition-section {
        padding: 10px;
        max-width: 90%;
    }

    .nutrition-section input[type="text"] {
        font-size: 1rem;
        padding: 10px;
    }

    .nutrition-section button {
        font-size: 1rem;
        padding: 8px 15px;
    }
}
