
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.font-size-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  .font-size-controls button.active {
    background-color: #e16521;
    color: #fff;
    border-color: #e4381C;
  }
  @media (min-width: 992px) {
    .font-size-controls {
      position: absolute;
      right: 40px; 
      top: 50%; 
      transform: translateY(-50%);
    }
  }
  @media (min-width: 1292px) {
    .font-size-controls {
      position: absolute;
      right: 220px; 
      top: 50%; 
      transform: translateY(-50%);
    }
  }
  
  @media (max-width: 991.98px) {
    .font-size-controls {
      text-align: center;
    }
  }
  
/* Navbar*/
.navbar {
    background-color: black;
    padding: 20px 30px;
    padding-right: 80px;
  }
  
  .navbar-brand img {
    max-height: 30px;
    transition: 0.4s ease-in;
  }
  
  .nav-link {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
  }
  
  .nav-link:hover {
    color: #FF7B07;
    transform: scale(1.05); 
    transition: 0.5s ease-out;

  }
  .navbar-brand img:hover {
    transform: scale(1.05);
    transition: 0.5s ease-out;
  }
  
  /* Mobile Navbar */
  .mobile-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .collapse .nav-link {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
  
  .collapse.show .nav-link {
    opacity: 1;
    transform: translateY(0);
  }
  
  @media (min-width: 992px) {
    .desktop-navbar {
      display: flex;
    }
  
    .mobile-navbar {
      display: none;
    }
  
    .navbar-left,
    .navbar-right {
      display: flex;
    }
  }
  
  @media (max-width: 992px) {
    .desktop-navbar {
      display: none;
    }

    .mobile-navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .navbar-brand {
      margin-bottom: 0;
    }
  
    .navbar-toggler {
      margin-left: auto;
    }
  
    .navbar-collapse {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 20px 0;
      position: absolute;
      top: 100%; 
      left: 0;
      background-color: black; 
      z-index: 1001; 
    }
  
    .navbar-nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-item {
      width: 100%;
      text-align: center;
    }
  
    .center {
      align-items: center;
      justify-content: space-around !important;
    }
  }
  @media (max-width: 320px){
    .navbar-toggler{
        position: absolute;
        right: 0;
    }
  }
  #link-workout {
    padding-right: 35px;
  }
  

/* Hero Section */
.carousel-item img{
    height: 90vh;
    scale: 1.01;
    object-fit: cover;
    overflow-x: hidden;
}

.hero-text{
    position: absolute;
    z-index: 1000;
    top: 40%;
    left: 50%;
    text-align: center;  
    font-weight: 700;
    color: white;
    transform: translate(-50%, -50%);
}
.hero-text {
    position: absolute;
    z-index: 1000;
    text-align: center;
    font-weight: 700;
    color: white;
    
    
}

.hero-text h2{
    font-size: 4rem;
    font-weight: 800;
}
.hero-text h1{
    font-size: 5rem;
    font-weight: 600;
    transform: translateY(-20px);
}
.hero-text a{
    padding: 12px 20px;
    background-color: black;
    color: white;
    border-left: 2px solid #e16521;
    border-right: 2px solid #e4381C;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #FF7B07;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.primary-btn:hover{
    background-color: #e16521;
    transition: ease 0.7s;
}
.carousel-inner{
    position: relative;
}
.second-img{
    transform: translateY(-100px);
    background-color: black;
    background-attachment: fixed;
}   
.carousel-item{
    background-color: black;
}
.carousel-inner{
    object-fit: cover; 
}


/* Large Screens (Desktops) */
@media (min-width: 1200px) {
    .second-img{
        transform: translateY(0);
    }
    .first-img{
        transform: translateY(0px);
        object-position: top;
    }
    .hero-text {
        top: 60%;
    }

    .hero-text h2 {
        font-size: 4rem;
    }

    .hero-text h1 {
        font-size: 5rem;
    }

    .hero-text a {
        font-size: 1.2rem;
        padding: 12px 20px;
    }
}

/* Medium-Large Screens (Laptops) */
@media (max-width: 1199px) and (min-width: 992px) {
    .hero-text {
        top: 55%;
    }

    .hero-text h2 {
        font-size: 3.5rem;
    }

    .hero-text h1 {
        font-size: 4.5rem;
    }

    .hero-text a {
        font-size: 1.1rem;
        padding: 10px 18px;
    }
}

/* Medium Screens (Tablets) */
@media (max-width: 991px) and (min-width: 768px) {
    .carousel-item img {
        height: 70vh;
    }

    .hero-text {
        top: 60%;
    }

    .hero-text h2 {
        font-size: 3rem;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text a {
        font-size: 1rem;
        padding: 10px 15px;
    }
    .second-img{
        transform: translateY(-80px);
    }
}

/* Small Screens (Mobile Large) */
@media (max-width: 767px) and (min-width: 576px) {
    .carousel-item img {
        height: 60vh; 
    }

    .hero-text {
        top: 55%;
    }

    .hero-text h2 {
        font-size: 2.0rem;
    }

    .hero-text h1 {
        font-size: 3.0rem;
    }

    .hero-text a {
        font-size: 0.95rem;
        padding: 8px 12px;
    }
    .second-img{
        transform: translateY(-60px);
    }
}

/* Very Small Screens (Mobile Medium) */
@media (max-width: 575px) and (min-width: 400px) {
    .carousel-item img {
        height: 50vh; 
    }

    .hero-text {
        top: 60%;
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text a {
        font-size: 0.9rem;
        padding: 7px 10px;
    }
    .second-img{
        transform: translateY(-50px);
    }
}

/* Extra Small Screens (Mobile Small) */
@media (max-width: 399px) {
    .hero-text {
        width: 85%; 
    }
    .hero-text {
        top: 50%;
    }
    h2, h1 {
        word-wrap: break-word; 
    }

    .hero-text h2 {
        font-size: 1.8rem;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text a {
        font-size: 0.85rem;
        padding: 6px 8px;
    }
}

/* Style for Video Section */
.video-section {
    padding: 40px 20px; 
    background-color: #f8f8f8; 
    text-align: center;
    background-color: black;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.section-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: white;
    line-height: 1.6;
}

.video-wrapper {
    position: relative;
    padding-top: 42.5%; 
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
    }

    .section-description {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .section-title {
        font-size: 1.8rem;
    }

    .section-description {
        font-size: 0.9rem;
    }
}
/* Why Fitgains Section */
.why-fitgains {
    padding: 80px 0;
    background-color: black;
    color: white;
}

.why-fitgains .container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.why-fitgains .section-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.why-fitgains .section-subtitle {
    font-size: 1.3rem;
    color: #e16521;
    margin-bottom: 40px;
    font-weight: 500;
}

.why-fitgains .section-description {
    font-size: 1.1rem;
    margin-bottom: 30px;
    line-height: 1.8;
    color: #ccc;
}

.why-fitgains .feature-list {
    list-style-type: none;
    padding-left: 80px;
    font-size: 1.1rem;
    color: #e16521;
    text-align: left;
}

.why-fitgains .feature-list li {
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}

.why-fitgains .feature-list li::before {
    content: "\2022";
    color: #e16521;
    font-size: 1.8rem;
    position: absolute;
    left: -25px;
    top: -2px;
}

.why-fitgains .img-fluid {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.why-fitgains .img-fluid:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .why-fitgains .section-title {
        font-size: 2.5rem;
    }

    .why-fitgains .section-subtitle {
        font-size: 1.2rem;
    }

    .why-fitgains .section-description {
        font-size: 1rem;
    }

    .why-fitgains .feature-list li {
        font-size: 1rem;
    }

    .why-fitgains .feature-list {
        font-size: 1rem;
        padding-left: 50px;
    }

    .why-fitgains .row {
        flex-direction: column;
    }

    .why-fitgains .col-md-6 {
        margin-bottom: 30px;
    }
}

/* Google Maps Section */
.google-maps-section {
    padding: 80px 0;
    background-color: black;
    text-align: center;
}

.google-maps-section .container {
    max-width: 1000px;
    margin: 0 auto;
}

.google-maps-section .section-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.google-maps-section .section-description {
    font-size: 1.3rem;
    color: white;
    margin-bottom: 30px;
    font-weight: 500;
}

.google-maps-section .map-wrapper {
    width: 100%;
    height: 450px;
    max-width: 100%;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.map{
    filter: grayscale(50%) invert(97%) contrast(93%);
}

@media (max-width: 768px) {
    .google-maps-section .section-title {
        font-size: 2.5rem;
    }

    .google-maps-section .section-description {
        font-size: 1.1rem;
    }
}
/* Interactive Gallery */
.gallery-section {
    background-color: #000;
    padding: 40px 0;
}

.gallery-section h2 {
    color: #fff;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.gallery-img {
    cursor: pointer;
    width: 100%;
    height: 450px; 
    object-fit: cover;
    object-position: top;
    transition: transform 0.3s ease;
}

.gallery-img:hover {
    transform: scale(1.1);
}

.builders {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin-top: 30px;
}
/* Modal Styling */
.modal-content {
    background-color: #000;
    color: #fff;
    border-radius: 8px;
}

.modal-body {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.modal-img-container {
    max-width: 40%;
}

.modal-img-container img {
    width: 100%;
    border-radius: 8px;
}

.modal-info {
    max-width: 60%;
}

.modal-info h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal-info p {
    font-size: 1rem;
    line-height: 1.5;
}

.modal-info h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.modal-footer {
    border-top: 1px solid #333;
    padding: 15px;
}
#modalName{
    color: #e16521;
}
@media (max-width: 768px) {
    .modal-body {
        flex-direction: column;
        align-items: center;
        text-align: center;  
    }

    .modal-img-container {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .modal-info {
        max-width: 80%;
    }

    .modal-info h2 {
        font-size: 1.8rem;
    }

    .modal-info p {
        font-size: 1rem;
    }

    .modal-info h4 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .modal-info h2 {
        font-size: 1.6rem;
    }

    .modal-info p {
        font-size: 0.9rem;
    }

    .modal-info h4 {
        font-size: 1.1rem;
    }
}
/* Notifications */
.toast {
    position: fixed;
    height: 60px;
    font-weight: 600;
    top: 20px;
    right: 20px;
    background-color: green;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
    z-index: 1000;
}

.toast-danger {
    position: fixed;
    height: 60px;
    font-weight: 600;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
    z-index: 1000;
}
/* Show Toast Animation */
.toast.show {
    opacity: 1;
    transform: translateX(0);
}
.toast-danger.showDanger {
    opacity: 1;
    transform: translateX(0);
}
/* Footer */
footer {
    background-color: black;
    position: static;
    bottom: 0;
    width: 100%;
}
